*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url(bgimage.jpeg);
    backdrop-filter: blur(2px);
}
.tags a{
    text-decoration: none;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: black;
}
#option{
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
}
#option:hover{
    border-radius: 9px;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.book img{
    width: 180px;
    border-radius: 9px;
    height: 300px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.books{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6,6fr);
    row-gap: 30px;
    column-gap: 30px;
    
}
.book{
    transition: 2.5s;
}
.book:hover{
    transform: scale(1.2);
}
p{
    background-color: azure;
    text-align: center;
    font-weight: bold;
    border-radius: 9px;
}