*{
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: black;
}
a{
    text-decoration: none;
    background-color: black;
}
#option{
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
}
#option:hover{
    border-radius: 9px;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.tags{
    background-color: black;
}
h1{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
text-align: center;
color: black;
font-size: 50px;
}
.welcome{
    background-image: url(bgimage.jpeg);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.note{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

    width: 300px;
    background: none;
    display: flex;
    justify-content: center;
}
.note a{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-emphasis: none;
    text-decoration: none;
    color: white;
}
img{
    border-radius: 9px;
    width: 150px;
}
.card{
    border-radius: 9px;
    width: 650px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}
.book{
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 30px;
    transition: 2s;
}
.book:hover{
    transform: scale(1.4);
}
p{
    font-weight: bold;
    text-align: center;
}